.page {
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 100vw;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  font-family: "Inter", sans-serif;
}
