.intro {
  margin-top: 64px;
  padding: 0 106px;
  background-image: url(../../media/eagle.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.text {
  font-size: 69px;
}
