@font-face { 
  font-family: "Inter"; 
  font-style: normal; 
  font-weight: 300; 
  font-display: swap; 
  src: url("./Inter-Light.woff2") format("woff2"),
       url("./Inter-Light.otf")   format("opentype"),
       url("./Inter-Light.ttf")   format("truetype");
}
