.header {
  padding: 36px 102px 36px 48px;
  border-bottom: 1px solid #282828;
  display: flex;
  justify-content: space-between;
}

.name {
  margin: 0;
  font-size: 24px;
}

.link {
  composes: anchor from global;
}

.download {
  composes: button from global;
  font-size: 24px;
}
